$schema: https://json-schema.org/draft-07/schema
$defs:
  Accounts:
    additionalProperties: false
    description: InNoHassle Accounts integration settings
    properties:
      api_url:
        default: https://api.innohassle.ru/accounts/v0
        description: URL of the Accounts API
        title: Api Url
        type: string
      api_jwt_token:
        description: JWT token for accessing the Accounts API as a service
        format: password
        title: Api Jwt Token
        type: string
        writeOnly: true
    required:
    - api_jwt_token
    title: Accounts
    type: object
  Environment:
    enum:
    - development
    - production
    title: Environment
    type: string
additionalProperties: false
description: Settings for the application.
properties:
  $schema:
    anyOf:
    - type: string
    - type: 'null'
    default: null
    title: $Schema
  environment:
    $ref: '#/$defs/Environment'
    default: development
    description: App environment flag
  app_root_path:
    default: ''
    description: Prefix for the API path (e.g. "/api/v0")
    title: App Root Path
    type: string
  database_uri:
    description: MongoDB database settings
    examples:
    - mongodb://mongoadmin:secret@127.0.0.1:27017/db?authSource=admin
    - mongodb://mongoadmin:secret@db:27017/db?authSource=admin
    format: password
    title: Database Uri
    type: string
    writeOnly: true
  cors_allow_origin_regex:
    default: .*
    description: 'Allowed origins for CORS: from which domains requests to the API
      are allowed. Specify as a regex: `https://.*.innohassle.ru`'
    title: Cors Allow Origin Regex
    type: string
  accounts:
    $ref: '#/$defs/Accounts'
  storage_path:
    default: ./storage
    description: Path to files storage
    title: Storage Path
    type: string
  superadmin_emails:
    description: Innomails of superadmins who can set admin roles
    items:
      type: string
    title: Superadmin Emails
    type: array
required:
- database_uri
- accounts
- superadmin_emails
title: Settings
type: object
